* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  background: #f5f7fa;
}

.el-header, .el-footer {
  padding: 0 !important;
}

.el-aside {
  overflow: hidden;
}

.el-menu {
  border-right: none !important;
}